.project-width-one-half {
  width: 50%

}

.project-width-one-quarter {
  width: 25%
}


.project-width-container {
  max-width: 960px;
}

@media (max-width: 960px) {
    .project-width-container {
    margin-left: max(15px, calc(15px + env(safe-area-inset-left)));
    margin-right: max(15px, calc(15px + env(safe-area-inset-left)));
  }
}

@media (min-width: 960px) {
    .project-width-container {
    margin-left: auto;
    margin-right: auto;
  }
}

.project-grid-row {

}

.project-heading-l {
  font-size: 3em;
  text-align: center;
}

.project-font {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
